body{
    display: flex;
    justify-content: center;
    background: url(../Img/fondos.png);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav ul li {
    float: left;
    position: relative;
    background-color: rgba(5, 5, 5, 0.506);

    
  }
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255, 251, 251);
    
    
    
  }
  nav ul li:hover > a {
    background-color: rgb(245, 26, 26);
    
    
    
  }
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    
    
    
  }
  nav ul ul li {
    float: none;
    width: 200px;
    position: relative;
    background-color: rgba(5, 5, 5, 0.423);
    
    
  }
  nav ul ul ul li {
    position: static;
    border-top: 1px solid rgb(255, 255, 255);
    
    
  }
  nav ul li:hover > ul {
    display: inherit;
    
    
  }

.info{
    color: rgb(255, 251, 251);
    position: absolute;

    padding-top: 100px;

}
#text{
    color: rgb(255, 251, 251);
    position: absolute;
    margin-top: 170px;
    text-align: center;

}
#gif{
    position: absolute;

    width: 32%;
}
