body{
    display: flex;
    justify-content: center;
    background: url(../Img/fondos.png);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav ul li {
    float: left;
    position: relative;
    background-color: rgba(5, 5, 5, 0.506);

    
  }
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255, 251, 251);
    
    
    
  }
  nav ul li:hover > a {
    background-color: rgb(245, 26, 26);
    
    
    
  }
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    
    
    
  }
  nav ul ul li {
    float: none;
    width: 200px;
    position: relative;
    background-color: rgba(5, 5, 5, 0.423);
    
    
  }
  nav ul ul ul li {
    position: static;
    border-top: 1px solid rgb(255, 255, 255);
    
    
  }
  nav ul li:hover > ul {
    display: inherit;
    
    
  }

.info{
    color: rgb(255, 251, 251);
    position: absolute;
    margin-left: 139px;
    margin-top: 100px;

}
#text{
    color: rgb(255, 251, 251);
    position: absolute;
    margin-top: 170px;
    text-align: center;

}

#text2{
    color: rgb(255, 251, 251);
    position: absolute;
    margin-top: 240px;
    text-align: center;

}
#img1{
    position: absolute;
    margin-top: 250px;
    margin-left: 25px;
    width: 22%;
}
#img2{
    position: absolute;
    margin-top: 250px;
    left: 40%;
    width: 33%;
}
#img3{
    position: absolute;
    margin-top: 250px;
    left: 40px;
    width: 30%;
}

#nombre1{
    position: absolute;
    margin-top: 45%;
    margin-left: 100px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
#nombre3{
    margin-top: 45%;
    position: absolute;
    left: 140px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    
    
}
#nombre2{
    position: absolute;
    margin-top: 465px;
    left: 550px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}