body{
    background-image: url(../Img/fondos.png);
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 100vh;
}
.center{
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 750;
    display:flex;
    height: 30px;
}
#opcion {
    cursor: pointer;
    margin-left: 120px;
    color: white;
    text-decoration: none;
}
.informacion{
    background-color: rgba(211, 211, 211, 0.672);
    border-style: dashed;
    margin: 0;
    padding: 0;
}